.content-area-movie {
    width: 80%;
    gap: 10px;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 30px;
    transition: width 0.5s;
}

.search-box {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 400px;
    height: 35px;
    border-radius: 30px;
    padding: 15px;
    outline: none;
    border: none;
    font-size: 18px;
    transition: width 0.5s;

}


@media only screen and (max-width: 650px) {
    .search-box {
        width: 250px;
    }

    .content-area-movie {
        width: 90%;
    }
}